.navbar {
  display: flex;
  justify-content: space-between;

  a {
    color: white;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
    }
    &.active {
      opacity: 0.7;
    }
  }
}

.nav-list {
  list-style: none;
  display: inline-flex;

  li:not(:first-child) {
    margin-left: 1rem;
  }
}

.container {
  padding: 16px;
}
