@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@include mat-core();

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #f9f9f9;
}
